*{
    margin: 0;
    padding: 0;
    font-family: Bebas Neue;
}

#main-container{
    width: 99.9%;
    height: 99.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-container{
    width: 50%;
    height: 70%;
}

#Titulo{
    height: 10%;
    display: flex;
    justify-content: center;
}

#lista-de-tareas{
    align-self: center;
    width: 80%;
    text-align: center;
    font-size: 50px;
}

#Insertar-tareas{
    height: 10%;
    display: flex;
}

#escribir-tarea{
    width: 60%;
    display: flex;
}

#boton-tareas{
    width: 40%;
    display: flex;
}

.Insertar-tareas{
    width: 100%;
    font-size: 25px;
}

.li{
    list-style-type: none;
    display: flex;
    height: 5vh
}

.p{
    width: 95%;
    align-self: center;
    margin-left: 3%;
    font-size: x-large;
}

.close-button{
    width: 5%;
    height: 90%;
    margin-right: 3%;
    align-self: center;
}